<!-- Admin | Single Location -->

<template name="adminLocation">
  <div class="admin">
    <div class="adminTable">
      <div class="row">
        <div class="col-lg-3">
          <a href="../../../admin/" class="btn btn-default"><i class="fa fa-arrow-left"></i> &nbsp;All locations</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h1>{{location.title}}</h1>
        </div>
      </div>
      <div class="row table-tools">
        <div class="col-lg-9">
          {{> reactiveTableFilter id="myFilter" label="Filter" }}
        </div>
        {{#if showAddButton}}
        <div class="col-lg-3">
          <a href="#" id="addBtn" class="pull-right add btn btn-primary-greener">New Entry&nbsp;<i class="fa fa-plus-circle"></i></a>
        </div>
        {{/if}}
      </div>
      <div class="row">
        <div class="col-lg-12">
          {{> reactiveTable settings=tableSettings}}
        </div>
      </div>
      <!-- <a href="/admin/preview/" id="previewBtn" class="preview btn btn-default btn-lg">Preview &nbsp;<i class="fa fa-eye"></i></a> -->
      <div id='tableThumbPreview'><img src="" /></div>
    </div>

  </div>

  {{> adminEditModal}}

<!-- Used for all tooltips within this template... -->
  {{ > tooltips }}

</template>

<!-- Admin | Edit -->
<template name="adminEditModal">

  <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{modalHeader}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <!-- {{> quickForm id="formImageEntry" collection="Images" doc=editImage type=updateOrInsertMode autosave=false }} -->
              {{#autoForm id="formImageEntry" collection="Images" doc=editImage type=updateOrInsertMode autosave=false }}
                <div class="row">
                  <div class="col-lg-6">
                    {{> afQuickField name='active'}}
                    {{> afQuickField name='dsNumber'}}
                    {{> afQuickField name='isoDate'}}
                    {{> afQuickField name='title'}}
                    {{> afQuickField name='creationPlace'}}
                    {{> afQuickField name='creditLine'}}
                  </div>
                  <div class="col-lg-6">
                    {{> afQuickField name='imageFilePaths'}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    {{> afQuickField name='labelTextEnglish'}}
                    {{> afQuickField name='labelTextSpanish'}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              {{/autoForm}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
