<!-- Admin | Single Location -->

<template name="adminLocation">
  <div class="admin">
    <a href="../../../admin/" class="anchored"><i class="fa fa-arrow-left"></i> &nbsp;All locations</a>
    <div class="adminTable">
      <div class="row">
        <div class="col-lg-6">
          <h1>{{location.title}}</h1>
        </div>
        <div class="col-lg-6 text-right">
          <a href="#" id="addBtn" class="add btn btn-primary-greener btn-lg">New Entry&nbsp;<i class="fa fa-plus-circle"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          {{> reactiveTable settings=tableSettings}}
        </div>
      </div>
      <!-- <a href="/admin/preview/" id="previewBtn" class="preview btn btn-default btn-lg">Preview &nbsp;<i class="fa fa-eye"></i></a> -->
      <div id='tableThumbPreview'><img src="" /></div>
    </div>

  </div>

  {{> adminEditModal}}

<!-- Used for all tooltips within this template... -->
  {{ > tooltips }}

</template>

<!-- Admin | Edit -->
<template name="adminEditModal">

  <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{modalHeader}}</h4>
        </div>
        <div class="modal-body">
          {{> quickForm id="formImageEntry" collection="Images" doc=editImage type=updateOrInsertMode autosave=false }}
        </div>
      </div>
    </div>
  </div>
</template>
