/* Bootstrap base styles */
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

/* Project styles */
@import "_colors.import.less";
@import "_sizes.import.less";
@import "_fonts.import.less";
@import "_animate.import.less";

body {
  background: #FFF;
  color: @background-tan;
  margin: 0;
  padding: 0;
  font-family: 'FuturaTS-Light', sans-serif;
}

.title {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 30px;
  background: @attic-maroon;
  width: @screen-width;
  padding: 5px;
}

/**
 * ----------------------------------------------------------------------------
 * Map container
 * ----------------------------------------------------------------------------
 */
.container {
  width: @screen-width;
  height: @screen-height;
  background-image: url("/images/map-base-sepia.jpg");
  margin: 0;
  padding: 0;
}

// Currently unused title bar
.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: teal;
}

/**
 * ----------------------------------------------------------------------------
 * Single location page
 * ----------------------------------------------------------------------------
 */
.location {
  background: #000;
  opacity: .92;
  width: (@screen-width - 100);
  height: (@screen-height - 100);
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 10px solid @background-tan;
  box-shadow: 2px 2px 20px @shadow-grey;
}

.location > * {
  margin-left: 20px;
  margin-right: 20px;
}

.location h3 {
  background: @attic-maroon;
  opacity: .98;
  margin: 0 0 20px 0;
  padding: 20px;
  font-family: 'FuturaTS-Demibold', sans-serif;
  font-size: 45px;
}

.location-footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: @background-tan;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 35px;
}

.location-footer,
.location-footer a {
  color: @attic-maroon;
}

.location-footer a {
  display: block;
  width: 100%;
  padding-top: 9px;
}

.image-detail {
  width: 1760px;
  background: lighten(@background-tan, 20%);
  padding: 10px;
  color: @attic-maroon;
  font-size: 15px;
  overflow:hidden;
}

.image-detail strong {
  font-family: 'FuturaTS-Demibold', sans-serif;
}

.image-detail h4 {
  font-family: 'FuturaTS-Demibold', sans-serif;
  font-size: 25px;
}

.big-picture {
  display: block;
  float: right;
}

/**
 * ----------------------------------------------------------------------------
 * Timeline controller
 * ----------------------------------------------------------------------------
 */

.time {
  background: #eee;
  opacity: .8;
  position: absolute;
  width: 1760px;
  height: 50px;
  bottom: 70px;
  font-size: 30px;
}

.time-handle-rect {
  fill: #222;
  opacity:.7;
}

/**
 * ----------------------------------------------------------------------------
 * SVG markers
 * ----------------------------------------------------------------------------
 */
svg.svg-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

//
// Locations
//
.location-matte {
  // Style for the matte border on the image
  // TBD
  fill: #fff;
}

// Text that goes along with each image at a location
.location-title {
  font-size: 25;
  font-family: 'FuturaTS-Demibold', sans-serif;
  width: 100px;
}

// Location references for each image location
.location-ref-marker{
  fill: #f00;
  stroke: #FFF;
  stroke-width: 2px;
  opacity: .3;
}

//
// Dev map styles for projection positioning
//
.water {
  fill: @wetlands-blue;
  opacity: .3;
  borer: 2px solid #000;
}

.road {
  fill: transparent;
  borer: 2px solid #000;
}

.states {
  fill: #000;
  opacity: .2;
  borer: 2px solid #000;
}

.cities {
  fill: white;
}

/**
 * ----------------------------------------------------------------------------
 * Dev information tables
 * ----------------------------------------------------------------------------
 */

.dev-dot {
  fill: yellow;
}

.dev-dot-one {
  fill: red;
}

// Table of location data
.dev-mouse,
.dev-locations {
  position: absolute;
  left: 50px;
  top: 50px;
  background: #EEE;
  padding: 10px;
  color: #222;
}

// Mouse positions
.dev-mouse {
  font-size: 30px;
  top: 164px;
  right: 72px;
  left: auto;
  width: 300px;
}

// Table of image data
.dev-images {
  position: absolute;
  left: 50px;
  top: 50px;
  background: #EEE;
  padding: 10px;
  color: #222;
}

