/* Bootstrap base styles */
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

/* Project styles */
@import "_colors.import.less";
@import "_sizes.import.less";
@import "_fonts.import.less";
@import "_animate.import.less";

body {
  background: #FFF;
  color: @background-tan;
  margin: 0;
  padding: 0;
  font-family: 'FuturaTS-Light', sans-serif;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 30px;
  background: @attic-maroon;
  width: @screen-width;
  padding: 5px;
}

/**
 * ----------------------------------------------------------------------------
 * Map container
 * ----------------------------------------------------------------------------
 */
.container {
  width: @screen-width;
  height: @screen-height;
  background-image: url("/images/map-base-sepia-v04.jpg");
  margin: 0;
  padding: 0;
}

// Currently unused title bar
.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: teal;
}

/**
 * ----------------------------------------------------------------------------
 * Single location page
 * ----------------------------------------------------------------------------
 */
.location {
  opacity: 1;
  width: 1870px;
  height: 960px;
  position: absolute;
  top: 100px;
  left: 0px;
  bottom: 0;
  right: 0;
}

.location > * {
  margin-left: 20px;
  margin-right: 20px;
}

h3.location-headline {
  position: absolute;
  top: -40px;
  left: -5px;
  opacity: 1;
  padding: 45px 45px 25px 40px;
  font-family: 'FuturaTS-Demibold', sans-serif;
  font-size: 45px;
  box-shadow: 6px 6px 20px #222222;
  background: 
    url("/images/redox_02.jpg");
}

.location-footer {
  position: absolute;
  top: 950px;
  left: 28px;
  height: 110px;
  width: 110px;
  background: #e2d9c2;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 35px;
  box-shadow: 4px 4px 20px #222222;
  padding-top: 20px;
  font-size: 50px;
}

.location-footer,
.location-footer a {
  color: @attic-maroon;
}

.location-footer a {
  display: block;
  width: 100%;
  padding-top: 9px;
}

/**
 * ----------------------------------------------------------------------------
 * Image detail on location page
 * ----------------------------------------------------------------------------
 */
.image-detail {
  position: absolute;
  top: 30px;
  left: 5px;
  background-image: url("/images/lightpaperfibers.jpg");
  padding: 15px;
  color: #663233;
  font-size: 15px;
  overflow: hidden;
  width: 860px;
  height: 600px;
  box-shadow: 4px 4px 20px #222222;
}

.image-detail-contents {
  border: 2px solid #663233;
  padding: 20px;
  height: 570px;
  bakground: rgba(255, 255, 255, .4);
}

.image-detail strong {
  font-family: 'FuturaTS-Demibold', sans-serif;
}

.image-detail h4 {
  font-family: 'FuturaTS-Demibold', sans-serif;
  font-size: 45px;
}

.big-picture {
  display: block;
  float: right;
  padding: 10px;
  background: lighten(@background-tan, 20%);
  transform: rotate(1deg);
  margin-top: -40px;
  margin-right: -1px;
  box-shadow: 4px 4px 20px #222222;
}

.image-description,
.image-description-es {
  font-size: 30px;
}

.image-location {
  font-size: 35px;
  font-family: 'FuturaTS-Medium', sans-serif;
}

.image-date {
  font-size: 32px;
  font-family: 'FuturaTS-Medium', sans-serif;
}

.image-credit-line {
  position: absolute;
  top: auto;
  bottom: 40px;
  right: 55px;
  left: auto;
  font-size: 20px;
}

.info-heading {
  text-align: center;
}

.image-description {
  float: left;
  width: 50%;
  padding-right: 20px;
}

.image-description-es {
  float: right;
  width: 50%;
  padding-right: 20px;
}

.image-description-es {
  color: black;
}

/**
 * ----------------------------------------------------------------------------
 * Timeline
 * ----------------------------------------------------------------------------
 */

@timeline-background-height: 90px;
@timeline-background-bottom: 24px;
@timeline-images-bottom: @timeline-background-height + @timeline-background-bottom;

/*.timeline-paper {*/
  /*background:*/
   /*linear-gradient(*/
      /*rgba(255, 255, 255, 0.45), */
      /*rgba(255, 255, 255, 0.45)*/
    /*),*/
    /*url("/images/lightpaperfibers.jpg");*/
/*position: absolute;*/
/*height: 290px;*/
/*width: 1740px;*/
/*bottom: -30px;*/
/*left: 140px;*/
/*opacity: .8;*/

/*}*/

.timeline-background {
  position: absolute;
  background: transparent;
  font-size: 30px;
  height: @timeline-background-height;
  bottom: @timeline-background-bottom;
  left: 140px;
  /*box-shadow: inset 0 0 10px #000000;*/
  /*border: 1px solid @attic-maroon;*/
  z-index: 3000;
}

.timeline-images {
  position: absolute;
  height: 300px;
  bottom: 20px;
  left: 210px;
}

.time-handle-rect {
  /*fill: #222;*/
  opacity:.9;
}

/**
 * ----------------------------------------------------------------------------
 * SVG markers
 * ----------------------------------------------------------------------------
 */
svg.svg-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

//
// Locations
//
.location-matte {
  // Style for the matte border on the image
  // TBD
  fill: #fff;
}

// Text that goes along with each image at a location
.location-title {
  font-size: 25;
  font-family: 'FuturaTS-Demibold', sans-serif;
  width: 100px;
}

// Location references for each image location
.location-ref-marker{
  fill: #f00;
  stroke: #FFF;
  stroke-width: 2px;
  opacity: .3;
}

//
// Dev map styles for projection positioning
//
.water {
  fill: red;
  opacity: .3;
  borer: 2px solid #000;
}

.road {
  fill: transparent;
  borer: 2px solid #000;
}

.states {
  fill: #000;
  opacity: .2;
  borer: 2px solid #000;
}

.cities {
  fill: white;
}

/**
 * ----------------------------------------------------------------------------
 * Dev information tables
 * ----------------------------------------------------------------------------
 */

// Table of location data
.dev-mouse,
.dev-locations {
  position: absolute;
  left: 50px;
  top: 50px;
  background: #EEE;
  padding: 10px;
  color: #222;
}

// Mouse positions
.dev-mouse {
  font-size: 30px;
  top: 164px;
  right: 72px;
  left: auto;
  width: 300px;
  display: none; // Enabled in JS
}

// Table of image data
.dev-images {
  position: absolute;
  left: 50px;
  top: 50px;
  background: #EEE;
  padding: 10px;
  color: #222;
}

