/* Bootstrap base styles */
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

/* Project styles */
@import "_colors.import.less";
@import "_sizes.import.less";
@import "_fonts.import.less";

body {
  background: #FFF;
  color: @background-tan;
  margin: 0;
  padding: 0;
  font-family: 'FuturaTS-Light', sans-serif;
}

.title {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 30px;
  background: @attic-maroon;
  width: @screen-width;
  padding: 5px;
}

.container {
  width: @screen-width;
  height: @screen-height;
  background-image: url("/images/map-base-sepia.jpg");
  margin: 0;
  padding: 0;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: teal;
}

/**
 * ----------------------------------------------------------------------------
 * Location text
 * ----------------------------------------------------------------------------
 */
.locations {
  /*position: absolute;*/
  /*right: 10px;*/
  /*top: 10px;*/
  position: absolute;
  left: 50px;
  top: 50px;
  background: #EEE;
  padding: 10px;
  color: #222;
}

.images {
  position: absolute;
  left: 50px;
  top: 50px;
  background: #EEE;
  padding: 10px;
  color: #222;
}


/**
 * ----------------------------------------------------------------------------
 * SVG markers
 * ----------------------------------------------------------------------------
 */
svg.svg-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

//
// Locations
//
.location-matte {
  // Style for the matte border on the image
  // TBD
  fill: #fff;
}

// Text that goes along with each image at a location
.location-title {
  font-size: 25;
  font-family: 'FuturaTS-Demibold', sans-serif;
  width: 100px;
}

// Location references for each image location
.location-ref-marker{
  fill: #f00;
  stroke: #FFF;
  stroke-width: 2px;
  opacity: .3;
}

//
// Dev map styles for projection positioning
//
.water {
  fill: @wetlands-blue;
  opacity: .3;
  borer: 2px solid #000;
}

.road {
  fill: transparent;
  borer: 2px solid #000;
}

.states {
  fill: #000;
  opacity: .2;
  borer: 2px solid #000;
}

.cities {
  fill: white;
}
