<template name="locations">
  <div class="container container-map map-base">
    <!--
    DEV tables
    -->
    <!--<div class="dev-locations">-->
      <!--<table class="table table-striped">-->
        <!--<thead>-->
          <!--<tr>-->
            <!--<td>location</td>-->
          <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--{{#each locations}}-->
          <!--<tr>-->
            <!--<td><a href="{{pathFor "location"}}">{{title}}</a></td>-->
          <!--</tr>-->
        <!--{{/each}}-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
    <!--<div class="dev-images">-->
      <!--<table class="table table-striped">-->
        <!--<thead>-->
          <!--<tr>-->
            <!--<td>location</td>-->
            <!--<td>title</td>-->
            <!--<td>photographer</td>-->
          <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--{{#each images}}-->
          <!--<tr>-->
            <!--<td>{{dsLocId}}</td>-->
            <!--<td><a href="{{pathFor "image"}}">{{title}}</a></td>-->
            <!--<td>{{photographer}}</td>-->
          <!--</tr>-->
        <!--{{/each}}-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
  </div>
</template>
