<template name="location">
  <div class="container container-map map-base">
    <div class="dev-mouse"></div>
  {{#with location}}
    <div class="location">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <div class="image-detail">
        <div class="big-picture"><img class="big-picture-image" src=""></div>
        <h4 class="image-title"></h4>
        <p><strong>About this photo:</strong><span class="image-description"></span></p>
        <p><strong>Where:</strong><span class="image-location"></span></p>
        <p><strong>When:</strong><span class="image-date"></span></p>
      </div>
      <div class="images"><!-- Images SVG goes here --></div>
      <div class="time"><!-- Timeline SVG goes here --></div>
      <div class="location-footer">
        <a href="{{pathFor 'locations'}}">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </div>
    </div>
  {{/with}}
  </div>
</template>
