<template name="location">

  <!-- Single Location page -->
  <div class="container container-map map-base">
    <div class="dev-mouse"></div>

    {{#with location}}

      <!-- Locaiton title -->
      <h3 class="location-headline">{{title}}</h3>

      <div class="location">

        <!-- Highlighted picture text information -->
        <div class="image-detail">
          <div class="image-detail-contents">
            <div class="info-heading">
              <div class="image-location">{{highlightedImageLocation}}</div>
              <div class="image-date">{{highlightedImageDate}}</div>
            </div>
            <br>
            <div class="image-description">{{highlightedImageDescription}}</div>
            <div class="image-description-es">{{highlightedImageDescriptionEs}}</div>
            <div class="image-credit-line">{{highlightedImageCredit}}</div>
          </div>
        </div>

        <!-- Highlighted picture full size -->
        <div class="image-fullsize">
          <img class="image-fullsize-image" alt="#" src="#">
        </div>

        <!-- Background for the timeline -->
        <div class="timeline-background"></div>

        <!-- Images along the timeline -->
        <div class="timeline-images"></div>

      </div>

    {{/with}}

    <!-- Home button -->
    <div class="location-footer">
      <a href="{{pathFor 'locations'}}">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>

  </div>
</template>
