/* Bootstrap base styles */
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

/* Project styles */
@import "_colors.import.less";
@import "_sizes.import.less";

body {
  background: @riparian-green;
  color: #FF3e00;
  margin: 0;
  padding: 0;
}

.container {
  width: 1920px;
  height: 1080px;
  background-image: url("/images/map-base.jpg");
  margin: 0;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: teal;
}
